@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Azeret Mono;

}

.header-background {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 74px;
}

.programmer-photo {
    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;
}

.programmer-photo img {
    width: 100%;
    height: 100%;
}

.header-background h1 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    width: 998px;
    margin-bottom: 24px;
}

.header-background p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 852px;
    margin-bottom: 32px;
}

.header-btn button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    height: 66px;
    font-family: Azeret Mono;
    padding: 0 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}